<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cynkomet - magazyn</title>
    <link rel="stylesheet" href="/app3.css">
  </head>
  <body>

    <h1> ADMINISTRACJA </h1>

    <div class="button">
    <form method="POST" action='/dodawanie_pracownika'><button class="button-28"> DODAJ PRACOWNIKA </button> </form>
    </div>

    <div class="button">
    <form method="POST" action='/usun_pracownika'><button class="button-28"> USUŃ PRACOWNIKA </button> </form>
    </div>

    <div class="button">
    <form method="POST" action='/dodaj_asortyment'><button class="button-28">DODAJ ASORTYMENT </button> </form>
    </div>

    <div class="button">
    <form method="POST" action='/usun_asortyment'><button class="button-28"> USUŃ ASORTYMENT </button> </form>
    </div>

    <div class="button">
    <form method="POST" action='/statystyki'><button class="button-28"> STATYSTYKI </button></form>
    </div>
    
    <div class="button">
    <form method="POST" action='/ekran_glowny'><button class="button-28"> EKRAN GŁÓWNY </button></form>
    </div>

  <script src="index.js"></script>
  </body>
</html>