<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cynkomet - magazyn</title>
    <link rel="stylesheet" href="/app3.css">
  </head>
  <body>

    <h1> DODAWANIE PRACOWNIKA </h1>   
    
    <form method="POST" action='/dodaj_pracownika'>

      <label>ID Pracownika: </label><input type="text" name="rfid_pracownika" required> <br>
      <label>Imię: </label><input type="text" name="imie" autofocus required> <br>
      <label>Nazwisko: </label><input type="text" name="nazwisko" required> <br>
      <label>Stanowisko: </label>
          <select name="stanowisko" required>
          <option value="ślusarz">ślusarz</option>
          <option value="brygadzista">brygadzista</option>
          </select>
          <br>
      <label>Wydział: </label> 
          <select name="wydzial" required>
          <option value="cynkownia">cynkownia</option>
          <option value="utrzymanie ruchu">utrzymanie ruchu</option>
          </select>
          <br>      
      
    <button class="button-28"> DODAJ </button> </form>
    
    <div class="button">
      <form method="POST" action='/administracja'><button class="button-28"> ADMINISTRACJA </button></form>
    </div>

  <script src="index.js"></script>
  </body>
</html>