<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cynkomet - magazyn</title>
    <link rel="stylesheet" href="/app2.css">
  </head>
  <body>

    <h1> WYNIK(I) WYSZUKANIA </h1>

<div class="wyniki">

 <% for(i = 0 ; i < result.length ; i++)  { %>
        <form method="POST" action='/wybierz3'>
          <input type="hidden" name="kod" value="<%=result[i]['kod_kreskowy']%>">
          <button class="button-7"> WYBIERZ</button>
          <p class="wybierz"><%=result[i]['nazwa']%>, kod asortymentu: <%=result[i]['kod_kreskowy']%>  </p>
        </form>
  <% } %>
    
   <form method="POST" action='/administracja'><button class="button-28"> ADMINISTRACJA </button></form>   
  
</div> 

	<script src="index.js"></script>
  </body>
</html>