<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cynkomet - magazyn</title>
    <link rel="stylesheet" href="/app3.css">
  </head>
  <body>

    <h1> BRAK ID W BAZIE </h1>

    <p class="srodek"> PRACOWNIKA O TAKIM ID NIE MA W BAZIE </p>

    <form method="POST" action='/ekran_glowny'><button class="button-28">WRÓĆ NA EKRAN GŁÓWNY </button> </form>
    
    <form method="POST" action='/wyszukaj_po_nazwisku'><button class="button-28">WYSZUKAJ PO NAZWISKU </button> </form>

  <script src="index.js"></script>
  </body>
</html>