<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cynkomet - magazyn</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    
    <h1 class="ponazwisku"> WYSZUKIWANIE PO NAZWISKU </h1><br>
    <p> (możesz wpisać tylko część)</p>
   
  <div class="ponazwisku2">
   <form method="POST" action='/ponazwisku'>
      <input class="number" id="search" type="text" name="ponazwisku" required autofocus><br>
      <button class="button-28" role="button">WYSZUKAJ</button>
    </form>
  </div>
    
  <div class="ekran_glowny">
    <form method="POST" action='/ekran_glowny'><button class="button-28" role="button"> EKRAN GŁÓWNY </button></form>
  </div>

	<script src="index.js"></script>
  </body>
</html>