<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cynkomet - magazyn</title>
    <link rel="stylesheet" href="/app3.css">
  </head>
  <body>

    <h1> USUNIĘTO PRACOWNIKA </h1>
        
    <div class="button">
    <form method="POST" action='/administracja'><button class="button-28"> ADMINISTRACJA </button></form>
    </div>

  <script src="index.js"></script>
  </body>
</html>