<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cynkomet - magazyn</title>
    <link rel="stylesheet" href="/app3.css">
  </head>
  <body>

    <h1> USUWANIE ASORTYMENTU </h1>
      
    <form method="POST" action='/szukaj_usun_asortyment'>
      <p class="czarny"> Wpisz kod asortymentu </p>
      <label>Kod asortymentu: </label><input type="text" name="kod"> <br>
      <p class="czarny"> lub jego nazwę (może być część)</p>
      <label>Nazwa: </label><input type="text" name="nazwa"> <br>
      <button class="button-28"> SZUKAJ </button> 
    </form>
    
    <div class="button">
    <form method="POST" action='/administracja'><button class="button-28"> ADMINISTRACJA </button></form>
    </div>

  <script src="index.js"></script>
  </body>
</html>